<h1><%= @recipe.title %></h1>
<%= image_tag "#{@recipe.image}", alt: "#{@recipe.title}" %>
<p><%= @recipe.instructions %></p>
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %>
